.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  max-width: 358px;
  max-height: 258px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 36px;
}

.modal__close {
  background-image: url(../images/Close.svg);
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
}

.modal__form {
  padding-top: 24px;
}

.modal__input {
  border: none;
  outline: none;
  width: 100%;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-top: 29.74px;
  color: #000;
}

.modal__input:nth-child(2) {
  padding-top: 29.74px;
}

.modal__button {
  width: 100%;
  margin-top: 48px;
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  height: 50.15px;
  cursor: pointer;
  border-radius: 2px;
}

.modal__button:hover {
  opacity: 60%;
}

@media screen and (max-width: 620px) {
  .modal__heading {
    font-size: 18px;
  }

  .modal__container {
    max-width: 238px;
    max-height: 272px;
    padding: 25px 22px;
  }

  .modal__form {
    padding-top: 45px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
    top: -39.62px;
  }

  .modal__button {
    margin-top: 45px;
    font-size: 14px;
  }
}
